<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Be+Vietnam|Roboto&display=swap" rel="stylesheet">
    <link href="/blogentry.css" rel="stylesheet">
    <title>Blog Entry</title>
</head>
<body background="https://res.cloudinary.com/fdmckie/image/upload/v1569595207/ComputerClassroom2_flo9tq.jpg">

<header>
    <nav>
        <a href="/home">Home</a> |
        <a href="/blogentry">Blog Entries</a> |
        <a href="/blogauthor">Blog Authors</a> |
        <a href="/aboutbootcamp">About Java Bootcamp</a>
    </nav>

</header>


<br><br><br>

<div id="titlecenter">

    <!--    <h1 style="alignment: center">Blog Entries</h1>-->

</div>

<div class="container">

    <h1 style="alignment: center">Blog Entries</h1>
    <br><br>

    <div style="background-color:lightblue">
        <!--<h4>What is Java?</h4>-->
        <!--<hr>-->
        <table id="whatiscorejava">
            <tr>
                <th>&nbsp&nbspTitle:</th>
                <td>&nbsp&nbsp&nbsp&nbsp</td>
                <td>What Is core Java?</td>
                <td>&nbsp&nbsp&nbsp&nbsp</td>
                <th>Date:</th>
                <td>&nbsp&nbsp&nbsp&nbsp</td>
                <td>08/21/2019</td>
            </tr>
        </table>
        <p>&nbsp&nbspCore Java refers to Java SE. It includes the Java Language, the Java Virtual Machine (JVM) and Java Development Kit (JDK). The JDK contains the compiler,
            &nbsp&nbspsome tools and a library. The library is called the Java API (Application Programming Interface). It consists of classes developed by Oracle/Sun that go with
            &nbsp&nbspJava. Core Java is used for general purpose programming.</p>
    </div>

    <!--    <div style="background-color:lightblue">-->
    <!--        &lt;!&ndash;<h4>What is Java?</h4>&ndash;&gt;-->
    <!--        &lt;!&ndash;<hr>&ndash;&gt;-->
    <!--        <table id="whatisdatatype">-->
    <!--            <tr>-->
    <!--                <th>&nbsp&nbspTitle:</th>-->
    <!--                <td>&nbsp&nbsp&nbsp&nbsp</td>-->
    <!--                <td>The Eight Primitive Data Types</td>-->
    <!--                <td>&nbsp&nbsp&nbsp&nbsp</td>-->
    <!--                <th>Date:</th>-->
    <!--                <td>&nbsp&nbsp&nbsp&nbsp</td>-->
    <!--                <td>08/21/2019</td>-->
    <!--            </tr>-->
    <!--        </table>-->
    <!--    </div>-->



    <!--        <div style="background-color:lightblue">-->

    <!--        <p>&nbsp&nbspUse a data type that is appropriate for the data you're storing. Primitive data type variable names are written using lower-case: </p>-->



    <!--        <table id="whatisdatatype">-->
    <!--            <tr>-->
    <!--                <th>&nbsp&nbspData Types:</th>-->
    <!--            </tr>-->
    <!--            <tr>-->
    <!--                <th>&nbsp&nbspType</th>-->
    <!--                <th>Bytes</th>-->
    <!--                <th>Use</th>-->
    <!--            </tr>-->
    <!--            <tr>-->
    <!--                <td>&nbsp&nbspbyte</td>-->
    <!--                <td>1</td>-->
    <!--                <td>Very short integers from -128 to 127</td>-->
    <!--            </tr>-->
    <!--        </table>-->

    <!--        </div>-->





    <div style="background-color:lightblue">
        <!--    <p>Home Page</p>-->
        <!--    <h4>What is HTML?</h4>-->
        <!--    <hr>-->
        <table id="whatishtml">
            <tr>
                <th>&nbsp&nbspTitle:</th>
                <td>&nbsp&nbsp&nbsp&nbsp</td>
                <td>What Is HTML?</td>
                <td>&nbsp&nbsp&nbsp&nbsp</td>
                <th>Date:</th>
                <td>&nbsp&nbsp&nbsp&nbsp</td>
                <td>08/21/2019</td>
            </tr>
        </table>
        <p>&nbsp&nbspStands for "Hypertext Markup Language." HTML is the language used to create webpages. "Hypertext" refers to the
            hyperlinks that an HTML page may &nbsp&nbspcontain. "Markup language" refers to the way tags are used to define the page layout
            and elements within the page.</p>
        <!--    <br>-->


    </div>

    <div style="background-color:lightblue">
        <!--    <p>Home Page</p>-->
        <!--    <h4>What is CSS3?</h4>-->
        <!--    <hr>-->
        <table id="whatiscss">
            <tr>
                <th>&nbsp&nbspTitle:</th>
                <td>&nbsp&nbsp&nbsp&nbsp</td>
                <td>What Is CSS?</td>
                <td>&nbsp&nbsp&nbsp&nbsp</td>
                <th>Date:</th>
                <td>&nbsp&nbsp&nbsp&nbsp</td>
                <td>08/21/2019</td>
            </tr>
        </table>
        <p>&nbsp&nbspCSS (Cascading Style Sheets) is a programming language used to "stylize" HTML elements on a web page. This includes, colors, fonts, and layouts. </p>
        <!--    <br>-->
    </div>

    <div style="background-color:lightblue">
        <!--    <p>Home Page</p>-->
        <!--    <h4>What is GitHub?</h4>-->
        <!--    <hr>-->
        <table id="whatisgithub">
            <tr>
                <th>&nbsp&nbspTitle:</th>
                <td>&nbsp&nbsp&nbsp&nbsp</td>
                <td>What Is GitHub?</td>
                <td>&nbsp&nbsp&nbsp&nbsp</td>
                <th>Date:</th>
                <td>&nbsp&nbsp&nbsp&nbsp</td>
                <td>08/21/2019</td>
            </tr>
        </table>
        <p>&nbsp&nbspGitHub is a web-based Git repository hosting service, which offers all of the distributed revision control and source code management (SCM) functionality
            &nbsp&nbsp&nbspof Git as well as adding its own features. Unlike Git, which is strictly a command-line tool, GitHub provides a web-based graphical interface and desktop as
            &nbsp&nbspwell as mobile integration. It also provides access control and several collaboration
            features such as wikis, task management, and bug tracking and feature &nbsp&nbsprequests for every project. </p>
        <!--    <br>-->
    </div>

    <div style="background-color:lightblue">
        <!--    <p>Home Page</p>-->
        <!--    <h4>What is GitHub?</h4>-->
        <!--    <hr>-->
        <table id="whatisgit">
            <tr>
                <th>&nbsp&nbspTitle:</th>
                <td>&nbsp&nbsp&nbsp&nbsp</td>
                <td>What Is Git?</td>
                <td>&nbsp&nbsp&nbsp&nbsp</td>
                <th>Date:</th>
                <td>&nbsp&nbsp&nbsp&nbsp</td>
                <td>08/21/2019</td>
            </tr>
        </table>
        <p>&nbsp&nbspGit is a free and open source distributed version control system designed
            to handle everything from small to very large projects with speed and efficiency. &nbsp&nbspGit commands are used to "push" programming code into a GitHub repository.</p>

    </div>


    <div style="background-color:lightblue">
        <!--    <p>Home Page</p>-->
        <!--    <h4>What is GitHub?</h4>-->
        <!--    <hr>-->
        <table id="whatisinheritance">
            <tr>
                <th>&nbsp&nbspTitle:</th>
                <td>&nbsp&nbsp&nbsp&nbsp</td>
                <td>What Is Inheritance?</td>
                <td>&nbsp&nbsp&nbsp&nbsp</td>
                <th>Date:</th>
                <td>&nbsp&nbsp&nbsp&nbsp</td>
                <td>08/21/2019</td>
            </tr>
        </table>
        <p>&nbsp&nbspThe idea of inheritance is simple but powerful: When you want to create a new class and there is already a class that includes
            some of the code that you &nbsp&nbspwant, you can derive your new class from the existing class.
            A subclass inherits all the members (fields, methods, and nested classes) from its superclass. </p>

    </div>


    <div style="background-color:lightblue">
        <!--    <p>Home Page</p>-->
        <!--    <h4>What is GitHub?</h4>-->
        <!--    <hr>-->
        <table id="overloading">
            <tr>
                <th>&nbsp&nbspTitle:</th>
                <td>&nbsp&nbsp&nbsp&nbsp</td>
                <td>Overloading In Java</td>
                <td>&nbsp&nbsp&nbsp&nbsp</td>
                <th>Date:</th>
                <td>&nbsp&nbsp&nbsp&nbsp</td>
                <td>08/21/2019</td>
            </tr>
        </table>
        <p>&nbsp&nbspOverloading allows different methods to have same name, but different signatures
            where signature can differ by number of &nbsp&nbspinput parameters or type of input parameters or both. </p>

    </div>



    <div style="background-color:lightblue">
        <!--    <p>Home Page</p>-->
        <!--    <h4>What is GitHub?</h4>-->
        <!--    <hr>-->
        <table id="algorithm">
            <tr>
                <th>&nbsp&nbspTitle:</th>
                <td>&nbsp&nbsp&nbsp&nbsp</td>
                <td>Algorithm</td>
                <td>&nbsp&nbsp&nbsp&nbsp</td>
                <th>Date:</th>
                <td>&nbsp&nbsp&nbsp&nbsp</td>
                <td>08/21/2019</td>
            </tr>
        </table>
        <p>&nbsp&nbspAn algorithm represents the ordered sequence of steps required to solve a problem. The algorithm gets translated to a
            programming language, such as &nbsp&nbspJava. In Java, the Java compiler will translate the program into instructions the computer can execute.
            This produces the required output from the given &nbsp&nbspinput. </p>

    </div>


    <div style="background-color:lightblue">
        <!--    <p>Home Page</p>-->
        <!--    <h4>What is GitHub?</h4>-->
        <!--    <hr>-->
        <table id="pseudocode">
            <tr>
                <th>&nbsp&nbspTitle:</th>
                <td>&nbsp&nbsp&nbsp&nbsp</td>
                <td>Pseudocode</td>
                <td>&nbsp&nbsp&nbsp&nbsp</td>
                <th>Date:</th>
                <td>&nbsp&nbsp&nbsp&nbsp</td>
                <td>08/21/2019</td>
            </tr>
        </table>
        <p>&nbsp&nbspPseudocode is a human-readable representation of an algorithm. It is not written the specific syntax of any
            particular programming language. However, a &nbsp&nbspprogrammer can easily translate pseudocode into a programming language, like Java,
            because the pseudocode is the algorithm plus any considerations for &nbsp&nbspmaking it into a program. </p>

    </div>
















    <div style="background-color:lightblue">

        <table>
            <tr>
                <th>&nbsp&nbspTitle:</th>
                <td>&nbsp&nbsp&nbsp&nbsp</td>
                <td>The Eight Primitive Data Types</td>
                <td>&nbsp&nbsp&nbsp&nbsp</td>
                <th>Date:</th>
                <td>&nbsp&nbsp&nbsp&nbsp</td>
                <td>08/21/2019</td>
            </tr>
        </table>

        <p>&nbsp&nbspUse a data type that is appropriate for the data you're storing. Primitive data type variable names are written using lower-case: </p>



        <table id="whatisdatatype">
            <tr>
                <th>&nbsp&nbspData Types:</th>
            </tr>
            <tr>
                <th>&nbsp&nbspType</th>
                <th>Bytes</th>
                <th>Use</th>
            </tr>
            <tr>
                <td>&nbsp&nbspbyte</td>
                <td>1</td>
                <td>Very short integers from -128 to 127</td>
            </tr>
            <tr>
                <td>&nbsp&nbspint</td>
                <td>4</td>
                <td>Integers from -2,147,483,648 to 2,147,483,647</td>
            </tr>
            <tr>
                <td>&nbsp&nbsplong</td>
                <td>8</td>
                <td>Long integers from -9,223,372,036,854,775,808 to 9,223,372,036,854,775,807</td>
            </tr>
            <tr>
                <td>&nbsp&nbspfloat</td>
                <td>4</td>
                <td>Single precision floating-point numbers from 3.4e−038 to 3.4e+038</td>
            </tr>
            <tr>
                <td>&nbsp&nbspchar</td>
                <td>2</td>
                <td>A single Unicode character that's stored in two bytes</td>
            </tr>
            <tr>
                <td>&nbsp&nbspboolean</td>
                <td>1</td>
                <td>A true or false value</td>
            </tr>
            <tr>
                <td>&nbsp&nbspdouble</td>
                <td>8</td>
                <td>Double precision floating point numbers from -1.7E308 to 1.7E308</td>
            </tr>
        </table>


    </div>




</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
