<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Be+Vietnam|Roboto&display=swap" rel="stylesheet">
    <link href="/home.css" rel="stylesheet">
    <title>Home Page</title>
</head>
<body background="https://res.cloudinary.com/fdmckie/image/upload/v1569595207/ComputerClassroom2_flo9tq.jpg" >


<header>
    <nav>
        <a href="/home">Home</a> |
        <a href="/blogentry">Blog Entries</a> |
        <a href="/blogauthor">Blog Authors</a> |
        <a href="/aboutbootcamp">About Java Bootcamp</a>
    </nav>

</header>

<br><br><br>

<div id="titlecenter">

    <!--<p id="homepagetitle"><strong>Java Bootcamp Blog</strong></p>-->

</div>


<div class="container">

    <h1 style="alignment: center">Java Bootcamp Blog</h1>
    <br><br>

    <div style="background-color:lightblue">
        <!--<h4>What is Java?</h4>-->
        <!--<hr>-->
        <table>
            <tr>
                <th>&nbsp&nbspTitle:</th>
                <td>&nbsp&nbsp&nbsp&nbsp</td>
                <td>What Is core Java?</td>
                <td>&nbsp&nbsp&nbsp&nbsp</td>
                <th>Date:</th>
                <td>&nbsp&nbsp&nbsp&nbsp</td>
                <td>08/21/2019</td>
            </tr>
        </table>
        <p>&nbsp&nbspCore Java refers to Java SE. It includes the Java Language, the Java Virtual Machine (JVM) and
            Java Development Kit (JDK)...<a href="/blogentry#whatiscorejava">View More...</a></p>
    </div>



    <div style="background-color:lightblue">
        <!--    <p>Home Page</p>-->
        <!--    <h4>What is HTML?</h4>-->
        <!--    <hr>-->
        <table>
            <tr>
                <th>&nbsp&nbspTitle:</th>
                <td>&nbsp&nbsp&nbsp&nbsp</td>
                <td>What Is HTML?</td>
                <td>&nbsp&nbsp&nbsp&nbsp</td>
                <th>Date:</th>
                <td>&nbsp&nbsp&nbsp&nbsp</td>
                <td>08/21/2019</td>
            </tr>
        </table>
        <p>&nbsp&nbspStands for "Hypertext Markup Language." HTML is the language used to create webpages... <a href="/blogentry#whatishtml">View More...</a></p>



    </div>

    <div style="background-color:lightblue">
        <!--    <p>Home Page</p>-->
        <!--    <h4>What is CSS3?</h4>-->
        <!--    <hr>-->
        <table>
            <tr>
                <th>&nbsp&nbspTitle:</th>
                <td>&nbsp&nbsp&nbsp&nbsp</td>
                <td>What Is CSS?</td>
                <td>&nbsp&nbsp&nbsp&nbsp</td>
                <th>Date:</th>
                <td>&nbsp&nbsp&nbsp&nbsp</td>
                <td>08/21/2019</td>
            </tr>
        </table>
        <p>&nbsp&nbspCSS (Cascading Style Sheets) is a programming language used to "stylize" HTML elements on a web page... <a href="/blogentry#whatiscss">View More...</a></p>
    </div>

    <div style="background-color:lightblue">
        <!--    <p>Home Page</p>-->
        <!--    <h4>What is GitHub?</h4>-->
        <!--    <hr>-->
        <table>
            <tr>
                <th>&nbsp&nbspTitle:</th>
                <td>&nbsp&nbsp&nbsp&nbsp</td>
                <td>What Is GitHub?</td>
                <td>&nbsp&nbsp&nbsp&nbsp</td>
                <th>Date:</th>
                <td>&nbsp&nbsp&nbsp&nbsp</td>
                <td>08/21/2019</td>
            </tr>
        </table>
        <p>&nbsp&nbspGitHub is a web-based Git repository hosting service, which offers all of the distributed revision control...<a href="/blogentry#whatisgithub">View More...</a></p>
    </div>

    <div style="background-color:lightblue">
        <!--    <p>Home Page</p>-->
        <!--    <h4>What is GitHub?</h4>-->
        <!--    <hr>-->
        <table>
            <tr>
                <th>&nbsp&nbspTitle:</th>
                <td>&nbsp&nbsp&nbsp&nbsp</td>
                <td>What Is Git?</td>
                <td>&nbsp&nbsp&nbsp&nbsp</td>
                <th>Date:</th>
                <td>&nbsp&nbsp&nbsp&nbsp</td>
                <td>08/21/2019</td>
            </tr>
        </table>
        <p>&nbsp&nbspGit is a free and open source distributed version control system ...<a href="/blogentry#whatisgit">View More...</a></p>
    </div>


    <div style="background-color:lightblue">
        <!--    <p>Home Page</p>-->
        <!--    <h4>What is GitHub?</h4>-->
        <!--    <hr>-->
        <table>
            <tr>
                <th>&nbsp&nbspTitle:</th>
                <td>&nbsp&nbsp&nbsp&nbsp</td>
                <td>What Is Inheritnace?</td>
                <td>&nbsp&nbsp&nbsp&nbsp</td>
                <th>Date:</th>
                <td>&nbsp&nbsp&nbsp&nbsp</td>
                <td>08/21/2019</td>
            </tr>
        </table>
        <p>&nbsp&nbspThe idea of inheritance is simple but powerful: When you want to create a new class...<a href="/blogentry#whatisinheritance">View More...</a></p>
    </div>


    <div style="background-color:lightblue">
        <!--    <p>Home Page</p>-->
        <!--    <h4>What is GitHub?</h4>-->
        <!--    <hr>-->
        <table>
            <tr>
                <th>&nbsp&nbspTitle:</th>
                <td>&nbsp&nbsp&nbsp&nbsp</td>
                <td>Overloading In Java</td>
                <td>&nbsp&nbsp&nbsp&nbsp</td>
                <th>Date:</th>
                <td>&nbsp&nbsp&nbsp&nbsp</td>
                <td>08/21/2019</td>
            </tr>
        </table>
        <p>&nbsp&nbspOverloading allows different methods to have same name, but different signatures...<a href="/blogentry#overloading">View More...</a></p>
    </div>


    <div style="background-color:lightblue">
        <!--    <p>Home Page</p>-->
        <!--    <h4>What is GitHub?</h4>-->
        <!--    <hr>-->
        <table>
            <tr>
                <th>&nbsp&nbspTitle:</th>
                <td>&nbsp&nbsp&nbsp&nbsp</td>
                <td>Algorithm</td>
                <td>&nbsp&nbsp&nbsp&nbsp</td>
                <th>Date:</th>
                <td>&nbsp&nbsp&nbsp&nbsp</td>
                <td>08/21/2019</td>
            </tr>
        </table>
        <p>&nbsp&nbspAn algorithm represents the ordered sequence of steps required to solve a problem...<a href="/blogentry#algorithm">View More...</a></p>
    </div>


    <div style="background-color:lightblue">
        <!--    <p>Home Page</p>-->
        <!--    <h4>What is GitHub?</h4>-->
        <!--    <hr>-->
        <table>
            <tr>
                <th>&nbsp&nbspTitle:</th>
                <td>&nbsp&nbsp&nbsp&nbsp</td>
                <td>Pseudocode</td>
                <td>&nbsp&nbsp&nbsp&nbsp</td>
                <th>Date:</th>
                <td>&nbsp&nbsp&nbsp&nbsp</td>
                <td>08/21/2019</td>
            </tr>
        </table>
        <p>&nbsp&nbspPseudocode is a human-readable representation of an algorithm. It is not written...<a href="/blogentry#pseudocode">View More...</a></p>
    </div>








    <div style="background-color:lightblue">
        <!--<h4>What is Java?</h4>-->
        <!--<hr>-->
        <table>
            <tr>
                <th>&nbsp&nbspTitle:</th>
                <td>&nbsp&nbsp&nbsp&nbsp</td>
                <td>The Eight Primitive Data Types</td>
                <td>&nbsp&nbsp&nbsp&nbsp</td>
                <th>Date:</th>
                <td>&nbsp&nbsp&nbsp&nbsp</td>
                <td>08/21/2019</td>
            </tr>
        </table>
        <p>&nbsp&nbspUse a data type that is appropriate for the data you're storing. Primitive data type names are written using lower-case...
            <a href="/blogentry#whatisdatatype">View More...</a></p>
    </div>





</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>

